# Java-Klassen & Build-Output
*.class
build/
out/
bin/

# Gradle
.gradle/

# IDE-Einstellungen (Eclipse/IntelliJ/VSCode)
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Logs und temporäre Dateien
*.log
*.tmp

# Betriebssystem-Spezifika
.DS_Store
Thumbs.db
